* {
    margin-top: 0;
}


#container {
    height:40%;
    background-color: #6943FF;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
    margin-top: 0;
}

h1 {
    padding-top: 40px;
}

#input-el {
    height: 160px;
    width: 240px;
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 116px;
    line-height: 24px;
    /* or 42% */

    text-align: center;

    color: #FFFFFF;
}

#input-el:focus{
    outline: none;
    box-shadow: 0 0 5pt 1pt #B295FF;
}

#btn-el {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 24px;
    width: 200px;
    height: 60px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    margin-top: 10px;
    color: #3D3D3D;
    background: #2a8af76e;
/* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin: 40px 40px;
}